@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0px;
    background-color: #333447;
    color: #ededed;
}

#game {
    padding: 10px;
}

#board {
    position: relative;
    height: min(90vh, 45vw);
    width: min(90vh, 45vw);
}

#board-background {
    position: absolute;
    height: inherit;
    width: inherit;
    border: 2px solid #ffffff;
}

#board-cells {
    position: absolute;
    height: inherit;
    width: inherit;
    padding: 2px;
}

.row {
    background-color: transparent;
    display: flex;
    width: inherit;
    height: 11.11%;
    margin: 0px;
    /*padding: 0px 1px;*/
}

.row > .cell {
    background-color: transparent;
    width: 11.11%;
    height: 100%;
    align-content: center;
}

.cell-value {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: min(8vh, 4vw);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.line-cell {
    stroke: #ffffff;
    stroke-width: 2;
}

.line-box {
    stroke: #ffffff;
    stroke-width: 5;
}