@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin: 0px;
    background-color: #333447;
    color: #ededed;
}

/* Delete margin for now. Change this when up to laying stuff out. Might want to redo id as well*/
#top-elem {
    margin: 0px;
}

#game {
    padding: 10px;
}

#board {
    position: relative;
    height: 90vh;
    width: 90vh;
}

#board-layout {
    position: absolute;
    height: inherit;
    width: inherit;
    border: 1px solid #ffffff;
}

.row {
    background-color: transparent;
    display: flex;
    width: inherit;
    height: 11.11%;
    margin: 0px;
    padding: 0px 1px;
}

.row > .cell {
    background-color: transparent;
    width: 11.11%;
    height: 100%;
    align-content: center;
}

.cell-value {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: xx-large;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.line-cell {
    stroke: #ffffff;
    stroke-width: 2;
}

.line-box {
    stroke: #ffffff;
    stroke-width: 4;
}